/* Side */
.Side{
    display: flex;
    justify-content: space-between;
    float: left;
    width: 28vw;
    height: 100%;
}
.Side_title_div{
    display: flex;
  align-items: center; /* 세로 정렬을 수행합니다 */
  justify-content: center; /* 가로 정렬을 수행합니다 */
  width: 28vw;
  height: 5vh;
  background-color: #B8E6E1;
}

#Side_title{
    text-align: center;
    font-size: 25px;
}
#Side_title span{
    font-size: 20px;
    font-weight: 500;
}
.SideLeft {
    flex: 1; 
    width: 14vw;
    height: 5vh;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
  }

.Side #Side_item{
    background-color: #f1f5f5;
    border-right: 1px solid #dbd4d4;
    width: 14vw;
    height: 5vh;
}
.Side #Side_item:hover{
  background-color: #adbfbf;  
}
.Side #Side_title span{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}
.Side #Side_title{
    border-bottom: 1px solid #dbd4d4;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #B8E6E1;
    margin: 0;
}

/* Board */
.Board{
    float: right;
    width: 63vw;
    cursor: pointer;
    margin-right: 50px;
}
.Board #Board_pagination_div{
    display: flex;
    justify-content: center;
}

.Board #BoradCell{
    width: 10vw;
}
.Board #BoradCell_num{
    width: 2vw;
}
.Board #BoradCell_title{
    width: 15vw;
}
.Board #Board_table{
    height: 38vh;
}
.Board #Board_table_body:hover{
    background-color: #ececec;
}
.Board #Board_table_body{
    height: 5.5vh;
}
/* FileList */
#FileList{
     float: right;
     width: 63vw;
     margin-right: 50px;
     min-height: 50vh;
}
#FileList #FileList_item{
    cursor: pointer;
}
#FileList #FileList_item:hover{
    background-color: #ececec;
}
#FileList .FileList_search{
    width: 63vw;
}

/*  Card */
.Card{
    align-items: center;
    margin-top: 5vh;
    margin-left: 30px;
}
.Card #Card_item{
    border-radius: 20px;
    width: 30vw;
    height: 72vh; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.Card img{
    margin-top: 15px;
    margin-left: 6px;
    width: 29vw;
    height: 50vh;
    border-bottom: 1px solid rgb(194, 187, 187);
}
.Card #Card-btn{
    margin-bottom: 20px;
    width: 20vh;
    background-color: #FECCBE;
    color : #333;
}
.Card #Card_text{
    text-align: center;
}
.Card #Card_title_text{
    font-size: 23px;
}

.Card #Card_nomal_text{
    font-size: 18px;
}   


/* NavBar */
.NavBar .NavBar-img{
    margin-right: 10px;
}
.NavBar #NavBar-Link{
    text-decoration:  none;
    color: black;
}
.NavBar .NavBar_home{
    margin-top :7px;
}
/* FileList */

/* Loading */
.Loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

