/* BoardDetail */
.BoardDetail {
    margin: 20px;
    min-height: 76vh;
}

.BoardDetail h2{
    margin-bottom: 20px;
}

.BoardDetail .BoardDetail_content{
    border-top: 1px solid black;
  }

  /* FileDetail */
.FileDown .FileDown_content{
    float: right;
    margin-right: 10vw;
    margin-top: 3vw;
  }
  
  .FileDown .FileDown_content .FileDown_h2{
    display: inline-block;
    margin-left: 30px;
    width: 46vw;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
  .FileDown .FileDown_content .FileDown_p{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-left: 50px;
    padding-left: 10px;
    width: 46vw;
    padding-bottom: 10px;
    margin-bottom: 20px ;
    padding-top: 20px;
  }
  .FileDown .FileDown_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .FileDown .FileDown_content #FileDown_btn1{
    margin-top: 30px;
    margin-left: 5vw;
    width: 20vw;
    height: 7vh;
    font-weight: bold;
  }
  .FileDown .FileDown_content #FileDown_btn2{
    margin-top: 30px;
    margin-left: 5vw;
    width: 20vw;
    height: 7vh;
    font-weight: bold;
  }
  .FileDown_btn{
    margin-bottom: 20px;
    min-height: 43vh;
  }

  /* Welcome */
.Welcome_Card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Welcome #Welcome_btn{
    position: absolute;
    right: 15px;
    top : 10px;
    background-color: #B8E6E1;
    color : #333;
    width : 150px;
    font-weight: bold;
    
}
  .Welcome h4{
    text-align: center;
    margin-top: 50px;
    
  }

  /* Home */

.Home_footer{
  display: flex;
  align-items: end;
  clear: both;
  width: 100%;
  height: 10vh;
  background-color: red;

}

/* Login */
.Login{
  display: flex;
  width: 100%;
}
.Login img{
  float: left;
  width: 65vw;
  height: 100vh;
}
.Login .Login_right_wrap{
  float: right;
}
.Login .Login_right{
  width: 35vw;
  height: 100vh;
  background-color: rgb(208, 202, 202);
}
.Login #login{
  border-radius: 25px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color: #B8E6E1;
  color: #333;
}
.Login .google_login{
  width: 280px;
  height: 50px;
  margin-bottom: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.Login .google_login:hover{
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.277);
}
.Login .social_text{
  margin-top: 20px;
}
.Login .logo{
  margin-top: 20px;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.not_footer{
  height: 85vh;
}
